@import "tailwindcss";

@theme {
  --color-primary: rgb(234 88 12);
  --color-primary-dark: rgb(194 65 12);
  --color-secondary: rgb(239 68 68);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  @apply bg-gray-50;
}
